*{
	margin:0px; 
	padding:0px; 
}
body{
    background: url(263.jpg) no-repeat center center fixed;
    background-size: cover;
}

.masthead {
  height: 100vh;
  min-height: 500px;
}

.tab-content{
	margin-left: 5%;
}