*{
	margin:0px; 
	padding:0px; 
}
body{
    background: url(2364.jpg) no-repeat center center fixed;
    background-size: cover;
}

.masthead {
  height: 100vh;
  min-height: 500px;
}

.tab-content{
	margin-left: 5%;
}
.modal-content{
  background-color:#a59693 ;
  opacity: .95;
  padding: 0 20px;
  box-shadow: 0px 0px 8px  #3c3a3a ;
}
.main-section{
  margin:  0 auto;
  margin-top: 25%;
  padding: 0;
}