body{
    background: url(263.jpg) no-repeat center center fixed;
    background-size: cover;
}
.main-section{
    margin:  0 auto;
    margin-top: 25%;
    padding: 0;
}
.user-img{
   margin-top: -50px;
   margin-bottom: 35px;
}
.user-img img{
    width: 100px;
    height: 100px;
}
.modal-content{
    background-color: #f59464  ;
    opacity: .90;
    padding: 0 10px;
    box-shadow: 0px 0px 8px  #3c3a3a ;
}