body{
    background: url(2364.jpg) no-repeat center center fixed;
    background-size: cover;
}
.main-section{
    margin:  0 auto;
    margin-top: 25%;
    padding: 0;
}
.modal-content{
    background-color:#e98b7b ;
    opacity: .95;
    padding: 0 20px;
    box-shadow: 0px 0px 8px  #3c3a3a ;
}